<div class="container">
    <div class="text-center mb-4">
        <img class="logo" src="../../assets/photoCheckLogo.svg">
    </div>
    <form [formGroup]="loginForm" (ngSubmit)='login(loginForm.value)' class="form-signin">

        <div class="form-label-group">
            <input type="email" id="inputEmail" formControlName="email" class="form-control"
                placeholder="Email address">
            <span>{{ getError('email')}}</span>
        </div>


        <div class="form-label-group">
            <input type="password" id="inputPassword" formControlName="password" class="form-control"
                placeholder="Password" required="true">
            <span>{{ getError('password')}}</span>
        </div>

        <div class="checkbox mb-3">
            <!--label>
                <input type="checkbox" value="remember-me"> Remember mes
            </label-->
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="loginForm.invalid">Sign in</button>
        <p class="mt-5 mb-3 text-muted text-center">© 2020</p>
    </form>
</div>