<div class="container">

    <form [formGroup]="loginForm" (ngSubmit)='login(loginForm.value)' class="form-signin">

        <div class="text-center mb-4">
            <img class="logo" src="../../assets/photoCheckLogo.svg"> 
        </div>

        <div class="form-label-group">
            <input type="email" id="inputEmail" formControlName="email" class="form-control" placeholder="Email address"
                required="">
        </div>

        <div class="form-label-group">
            <input type="password" id="inputPassword" formControlName="password" class="form-control"
                placeholder="Password" required="">
        </div>

        <div class="checkbox mb-3">
            <!--label>
                <input type="checkbox" value="remember-me"> Remember me
            </label-->
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted text-center">© 2020</p>
    </form>
</div>